.containerCards {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
    min-height: calc(100vh - 80px);
    padding:20px;
    width: 100%;
background-image: url('../../../images/hotel-wallpaper.png');}